.bbbc{
    background-color: lightblue;
}
.content-1{
    margin-top: 5%;
}
.Para2{
    margin-left: 40%;
    font-size: 2.5rem;
    font-weight:700;
}
.para3{
    margin-left: 22%;
    font-weight: 400;
    margin-top: 2%;
    
}
.para4{
    margin-left: 20%;
    font-weight: 400;
}
.para5{
    margin-left: 32%;
    font-weight: 400;
}
.comfortimg{
    margin-top: 4%;
    margin-left: 12%;
}